$colorPrimary: #f47b20;
$colorLight: #f5f5f5;
/*$fontPrimary: "Raleway";*/
$fontPrimary: "Heebo, sans-serif";
$fontSecondary: "Roboto";
$fontAlternative: "Rubik";

$font-xxxl: 48px;
$font-xxl: 30px;
$font-xl: 30px;