@import "../_variables";
.card-timeline {
  display: flex;
  padding: 15px 0;
  font-family: $fontAlternative;
  &__detail {
    width: 400px;
    &__image {
      width: 400px;
      height: 400px;
      object-fit: cover;
    }
    &__title {
      font-weight: bold;
      margin: 15px 0 5px;
      color: $colorPrimary;
      font-size: 20px;
    }
    p {
      font-weight: 300;
      line-height: 1.2;
      font-size: 16px;
    }
  }
  &:first-child {
    .card-timeline {
      &__dates {
        width: 150px;
        &::before {
          width: 50%;
          left: 50%;
        }
      }
    }
  }
  &__dates {
    width: 150px;
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-weight: bold;
    &::before {
      content: "";
      display: block;
      height: 2px;
      top: 50%;
      width: 100%;
      position: absolute;
      transform: translateY(-1px);
      background-color: $colorPrimary;
      left: 0px;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 5px;
      width: 10px;
      height: 10px;
      background-color: $colorPrimary;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__data {
      color: $colorPrimary;
      font-size: 20px;
      padding: 15px 0;
      font-size: 40px;
      font-weight: 500;
      color: #aaa;
      font-family: $fontAlternative;
    }
  }
}
.content-card-timelines {
  position: relative;
  &__content {
    display: flex;
    overflow: hidden;
    margin-top: 30px;
  }
  &__btn {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: $colorPrimary;
    background: transparent;
    border: 0;
    padding: 0;
    .material-icons {
      font-size: 70px;
    }
    &--left {
      display: none;
    }
    &--right {
      right: 0;
      left: initial;
    }
  }
}
@media screen and (max-width: 782px) {
  .content-card-timelines {
    &__content {
      overflow: auto;
    }
    &__btn {
      .material-icons {
        display: none;
      }
    }
  }
  .card-timeline {
    &__detail {
      width: 250px;
      &__image {
        width: 250px;
        height: 250px;
      }
    }
    &__dates {
      height: 250px;
      width: 100px;
      &__data {
        font-size: 30px;
      }
    }
    &:first-child {
      .card-timeline {
        &__dates {
          width: 100px;
        }
      }
    }
  }
}
