.app-value {
  max-width: 250px;
  text-align: center;
  padding: 5px;
  &__image {
    margin-bottom: 10px;
    img {
      width: 90px;
      height: 90px;
      object-fit: contain;
    }
  }
  &__title {
    margin-bottom: 10px;
  }
  &__message {
    font-weight: 300;
    font-size: 14px;
  }
}